@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Space Grotesk';
  src: url('/SpaceGrotesk.woff2');
}

* {
  font-family: 'Space Grotesk', monospace, system-ui;
}

body {
  @apply bg-black text-white text-[1.4rem] selection:bg-primary-400/30;
}

a:not(nav a, button, .btn) {
  @apply underline transition duration-300 text-primary-300 cursor-pointer hover:text-primary-100;
}

#navlink {
  @apply hover:bg-zinc-900 rounded-[0.30rem] py-1 px-3 transition duration-300
}

button, .btn {
  @apply bg-primary-400 px-3 py-1 rounded-md border-slate-800 border-2 transition duration-300 hover:bg-primary-500;
}

input, textarea {
  @apply bg-white/5 px-4 py-1 rounded-md placeholder:text-white/30 focus:outline-none resize-none;
}

.btn-secondary {
  @apply bg-slate-200 text-gray-900 hover:bg-gray-300;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

h1 {
  @apply text-6xl font-bold;
}

h2 {
  @apply text-5xl font-bold;
}

h3 {
  @apply text-4xl font-bold;
}

h4 {
  @apply text-3xl font-bold;
}

h5 {
  @apply text-2xl font-bold;
}

h6 {
  @apply text-[1rem] font-bold;
}

code {
  @apply bg-white/5 px-4 py-1 rounded-md;
}